.navbar {
    height: 2.8rem;
    padding: .2rem 0;
    background-color: transparentize($brand-primary, .1);

    .navbar-brand .navbar-brand-img {
        $img-height: 2rem;
        height: $img-height;
        width: $img-height * 640 / 209;

        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("/img/logotype.png");
    }
}
